:root {
    --background-color: #F6F7F8;
    --text-color: #333;
    --primary-color: #2A3647;
    --primary-hover-color: #2A3647;
    --border-color: #d1d1d1;
    --bs-btn-active-bg: #2A3647;
    --textarea-border-color: #e8e8e8;
    --bs-btn-active-color: #2A3647;
    --button-width: 200px;
    --button-height: 50px;
    --border-radius: 8px;
    --font-family: 'Inter', sans-serif;
    --global-margin-top: 100px;
    --button-hover-background-color: #29ABE2;
    --white-color: #FFFFFF;

    /* Hinzugefügt von André */
    --invalid-border-color: #FF001F;
    --input-border-standart: #D1D1D1;
    --template-height-with-padding: 80px;
}

@font-face {
    font-family: 'Inter';
    src: url('./font/Inter/Inter-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    height: 100vh;
    padding: 80px 40px;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

input,
textarea {
    border: 1.5px solid var(--border-color);
    border-radius: var(--border-radius);
}

textarea {
    resize: none !important;
    border-color: var(--textarea-border-color);
}

input:focus,
textarea:focus {
    border-color: var(--focus-border-color);
    outline: none;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.btn-primary {
    background-color: var(--primary-color);
    width: var(--button-width) ;
    height: var(--button-height);
    padding: 0.75rem ;
    border-radius: var(--border-radius) ;
    color: #fff ;
    border: none ;
    --bs-btn-active-bg: var(--button-hover-background-color) !important;
}

.btn-primary:hover, .btn-dark:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-outline-secondary {
    width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--border-radius);
    padding: 0.75rem;
    background-color: transparent;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
    --bs-btn-active-bg: none;
    --bs-btn-active-color: #2A3647;
}

.btn-outline-secondary:hover {
    border-color: var(--button-hover-background-color);
    background-color: var(--white-color);
    color: var(--button-hover-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-dark {
    width: 104px;
    border: none;
    background-color: var(--primary-color);
    --bs-btn-active-bg: var(--background-color);
    --bs-btn-active-bg: var(--button-hover-background-color);
}

.col-md-4{
    padding: 0;
    display: flex;
    justify-content: center;
    max-width: 650px;
}


/* Andrés Hinzufügungen */
.m-template {
    margin-bottom: calc(82px - 0.5rem);
}

.d-list-item {
    display: list-item;
}


/* Der Code von irgendjemanden anderen */
#idVector:hover {
    cursor: pointer;
}
