* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url('./font/Inter/Inter-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #e7e7e7;
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
}


button {
    border: unset;
}


input {
    border: 1.5px solid #e8e8e8;
    border-radius: 8px;
}


textarea {
    border: 1.5px solid #e8e8e8;
    border-radius: 8px;
    resize: none !important;
}