:root {
    --h1-position-top: 80px;
    --h1-height-with-padding: 120px;
    --main-button-container-height-with-padding: 83px;
    --standart-input-height: 39.2px;
    --navbar-width-desktop-mode: 230px;
}


h1 {
    padding: 0;
}


.c-invalid-border-color {
    color: var(--invalid-border-color);
}


.gap-05 {
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}


body {
    padding-top: 0 !important;
    width: 100vw;
    top: 0;
}


.headline-container {
    position: fixed;
    top: var(--h1-position-top);
    left: 0;
    right: 0;
    padding: 48px 16px 16px 16px;
    background-color: var(--background-color);
    z-index: 9999;
}


form {
    padding-top: calc(var(--h1-position-top) + var(--h1-height-with-padding) + 1.5rem);
    padding-bottom: calc(var(--main-button-container-height-with-padding) + var(--template-height-with-padding) + 45px);
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
    gap: 1rem;
}


#form-subcontainer {
    flex-direction: column;
}


#modalCard-edit-mode form {
    width: 100%;
    margin: 0;
}


input,
textarea {
    gap: 10px;
    border-radius: 10px;
    border: 1px;

    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


input {
    padding: 10px 21px;
}


textarea {
    padding: 18px 21px;
}


.input-group {
    flex-wrap: nowrap;
}


.input-single-img-container {
    border-top: 1.5px solid var(--border-color) !important;
    border-right: 1.5px solid var(--border-color) !important;
    border-bottom: 1.5px solid var(--border-color) !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    padding: 12px 16px;
    background-color: white;

    aspect-ratio: 1/1;
}


.input-two-img-container {
    border-left: none;
    border-top: 1.5px solid var(--border-color) !important;
    border-right: 1.5px solid var(--border-color) !important;
    border-bottom: 1.5px solid var(--border-color) !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    padding: 12px 16px;
    background-color: white;

    aspect-ratio: 1/1;
}


.input-dummy {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1.5px solid var(--border-color);
    border-radius: 8px;
}


.single-img-box {
    border-right: 1px solid var(--border-color);
    height: 24px;
    width: 24px;
    box-sizing: content-box;
}


.single-img-box:first-child {
    padding-right: 4px;
}


.single-img-box:last-child {
    padding-left: 4px;
}


.single-img-box:last-child {
    border-right: none;
}


.single-img-box img {
    max-height: 14px;
    aspect-ratio: 1/1;
}


.dropdown-container {
    position: relative;
}


.dropdown {
    /* position: absolute;
    top: 0.8px;
    left: 0;
    width: 100%; */
    max-height: 224.8px;
    overflow-y: auto;
    z-index: 1000;
    background-color: white;
    border-top: none;
    border-right: 1.5px solid var(--input-border-standart);
    border-left: 1.5px solid var(--input-border-standart);
    border-bottom: 1.5px solid var(--input-border-standart);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    /* padding-top: var(--standart-input-height); */
}


.active-dropdown-input {
    z-index: 2000;
}


#dropdown-contact {
    scrollbar-width: thin;
    /* Für Firefox */
    scrollbar-color: #A8A8A8 white;
}


#dropdown-contact::-webkit-scrollbar {
    width: 24px;
}


#dropdown-contact::-webkit-scrollbar-track {
    background: white;
}


#dropdown-contact::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 3px;
}


.contact-item {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.contact-item:hover {
    background-color: #f0f0f0;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url(../assets/img/addTask/calendar.svg);
}


.prio-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}


.prio-btn button {
    border: 1.5px solid #e8e8e8;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.btn-selected {
    color: white !important;
    font-weight: 700;
}


.btn-selected-urgent {
    background-color: rgba(255, 61, 0, 1) !important;
}


.btn-selected-medium {
    background-color: rgba(255, 168, 0, 1) !important;

}


.btn-selected-low {
    background-color: rgba(122, 226, 41, 1) !important;
}


#form-footer {
    z-index: 9000;
    position: fixed;
    bottom: calc(80px);
    right: 0;
    background-color: #F6F7F8;
    padding: 12px 16px 20px 16px;
}


.required-text-mobile-mode {
    display: block;
}


#required-text-desktop-mode {
    display: none;
}


.main-btn-container {
    gap: 32px;
}

.btn-form {
    padding: 16px !important;
    width: max-content !important;
    gap: 4px
}


.bounding-box-button-icon {
    width: 24px;
    height: 24px;
}


.required-text {
    line-height: 24px;
    padding: 0;
    margin: 0;
}


