#board {
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    height: calc(100vh);
}

h1 {
    position: relative;
    top: unset;
}

body {
    position: unset;
    width: auto;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item {
    width: clamp(180px, 18vw, 300px);
}

.board-header {
    margin-top: 0;
    padding-top: 80px;
}

.search-container {
    position: relative;
    width: 100%;
}

.search-container input {
    width: 80%;
    height: 30px;
    padding-right: 40px;
}

.search-container .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    justify-content: space-between;
}

.board-section {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;

}

.section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.section-header h2 {
    margin: 0;
    font-size: 16px;
}

.tasks-container {
    width: 100%;
    min-height: 200px;
}


#todo-container:empty::before,
#progress-container:empty::before,
#feedback-container:empty::before,
#done-container:empty::before {
    content: attr(data-empty-message);
    display: block;
    color: #A8A8A8;
    text-align: center;
}

#todo-container:empty,
#progress-container:empty,
#feedback-container:empty,
#done-container:empty {
    background-color: #E7E7E7;
    border-radius: var(--border-radius);
    height: 50px;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.task {
    position: relative;
    width: 250px;
    height: 260px;
    background: #ffffff;
    border-radius: 24px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
}


.task h4 {
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 700;
}

.task p {
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}


.task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 16px 16px;
    width: 100%;
    left: 0;
    bottom: 0;
}

.assigned-contacts {
    display: flex;
    position: relative;
    gap: 0;
    justify-content: flex-start;
    align-items: center;
    left: 8px;
}

.contact-circle {
    width: 32px;
    height: 32px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    margin-left: -8px;
}

.assigned-contacts .contact-circle:nth-child(1) {
    z-index: 1;
}

.assigned-contacts .contact-circle:nth-child(2) {
    z-index: 2;
}

.assigned-contacts .contact-circle:nth-child(3) {
    z-index: 3;
}


.add-button {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #6c757d;
}

.drag-over {
    border: 2px dashed #29abe1;
    background-color: #f0f8ff;
}

.dragging {
    opacity: 0.5;
    border: 2px dashed #29abe1;
    cursor: grabbing;
}

a,
.plus-button {
    height: 20px;
}

.subtasks-progress-container {
    position: absolute;
    bottom: 64px;
    width: 100%;
    padding: 0 16px;
    left: 0;
    margin-top: 10px;
    gap: 16px;

}

.progress-bar-container {
    position: relative;
    flex: 1;
    height: 4px;
    background-color: #F4F4F4;
    border-radius: 48px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #4589FF;
    border-radius: 8px;
    transition: width 0.3s ease-in-out;
}

.subtasks-count {
    font-size: 12px;
    color: #000000;
    white-space: nowrap;
}

.hidden-subtasks {
    display: none;
}

.no-tasks {
    text-align: center;
    font-size: 16px;
    color: #999;
    padding: 20px 0;
    font-style: italic;
}





#modalCard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    padding: 32px 24px;
    background-color: white;
    gap: 16px;
    z-index: 9999;
}


.category-label {
    border-radius: 8px;
    padding: 4px 16px;
    width: max-content;
    font-size: 16px;
    font-weight: 400;

}


.bc-category-label-technicaltask {
    background-color: #1FD7C1;
    color: white;
}


.bc-category-label-userstory {
    background-color: #0038FF;
    color: white;
}


#modulCard-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
}


#modalCard {
    gap: 16px;
}


#modulCard-close img {
    width: 13.5px;
    height: 13.5px;
}


#modalCard-title-value {
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


#modalCard-description-value {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


#modalCard tr {
    height: 25px;
    text-align: left;
}


#modalCard tr:first-child td {
    padding-bottom: 16px;
}


#modalCard td:first-child {
    width: 108px;
}


.information-type {
    color: #42526E;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
}


#modalCard-subtasks-value {
    margin-top: 8px;
}


#modalCard-subtasks-value div {
    gap: 16px;
}


.custom-checkbox {
    cursor: pointer;
    position: relative;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.checkbox-image {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../assets/img/board/checkbox-unchecked.svg');
    background-size: cover;
    transition: transform 0.2s ease;
}

.custom-checkbox input[type="checkbox"]:checked+.checkbox-image {
    background-image: url('../assets/img/board/checkbox-checked.svg');
    transform: scale(1.1);
}


#modalCard p {
    margin-bottom: 0;
}


#modalCard-delete-edit-bar {
    gap: 8px;
}


#modalCard-delete-edit-bar div {
    gap: 8px;
    padding-right: 8px;
    border-right: 1px solid #D1D1D1;
    cursor: pointer;
}


#modalCard-delete-edit-bar div:last-child {
    border-right: none;
}


#modalCard-delete-edit-bar img {
    width: 16px;
    height: 18px;
}