h2 {
    margin-left: 8px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

#idH1Title {
    width: unset;
    color: #FFFFFF;
    font-size: 47px;
    font-weight: 700;
}

#idContactMain {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    margin-right: -20px;
    padding: 20px 0;
}

#idContactMain::-webkit-scrollbar {
    width: 8px;
}

#idContactMain::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 25%;
}

#idContactMain::-webkit-scrollbar-track {
    background: transparent;
}

#idContactMain::-webkit-scrollbar-button {
    display: none;
}

@supports (scrollbar-width: thin) {
    #idContactMain {
        scrollbar-width: thin;
        scrollbar-color: #A8A8A8 transparent;
    }
}


#idContactAlph {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-bottom: 32px;

}

#idGreyLine {
    width: 90%;
    border: 1px solid #d1d1d1;
}

#idShortName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 100%;
    font-weight: 500;
    color: white;
}

#idNameMailshort {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 24px;
    padding: 15px 0;
    width: 100%;
}

#idName {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4px;
}

#idMail {
    color: #017CEE;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 0;
}

#idPhone {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

#idShortAlph {
    font-size: 12px;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    color: #FFFFFF;
}

#idNameMail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


[data-initials="AM"] {
    background-color: #FF8A00;
}

[data-initials="AS"] {
    background-color: #9327FF;
}

[data-initials="BZ"] {
    background-color: #9327FF;
}

[data-initials="DE"] {
    background-color: #FF4E9D;
}

[data-initials="EF"] {
    background-color: #FF8A00;
}

#idAddContactBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #2A3747;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    bottom: 88px;
    right: 24px;
    transition: background-color 0.2s ease;
}

#idAddContactBtn:hover {
    background-color: #29ABE2;
}

#idImgAddContact {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}

#idAddContact {
    top: 80px;
    position: fixed;
    right: 0;
    margin: auto;
    max-width: 400px;
    height: 760px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    padding: 20px;
    transition: transform 0.5s ease, bottom 0.5s ease;
    transform: translateY(100%);
    z-index: 1000;
}

#idAddContact.show {
    bottom: 80px;
    transform: translateY(0);
    background: linear-gradient(to bottom, #2A3647 50%, white 50%);
}

#idXBtn {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

#blueLine {
    margin-top: 20px;
    border: 1px solid #29ABE2;
    border-radius: 25px;
    width: 100px;
}

#idPersonBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
    border-radius: 50%;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    gap: 8px;
    margin-bottom: 32px;
}

#idPerson {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    filter: brightness(0) invert(1);
}

#idInput {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: fixed;
    width: 100%;
    bottom: 110px;
}

#idNameAddContact {
    background-image: url('../assets/img/contacts/person.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

#idMailAddContact {
    background-image: url('../assets/img/contacts/mail.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

#idPhoneAddContact {
    background-image: url('../assets/img/contacts/phone.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

#idNameAddContact,
#idMailAddContact,
#idPhoneAddContact {
    width: calc(100% - 40px);
    height: 40px;
    padding: 0 10px;
}


#idSubmitAddContact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 21px;
    font-weight: 700;
}


#idSubmitAddContact svg {
    fill: white;
}

#idViewContactCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    max-width: 660px;
    width: 100%;
    position: fixed;
    top: 80px;
    bottom: 80px;
    left: 0;
    z-index: 1001;
    background-color: #F6F7F8;
}

#idHeadContactView {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#idVector {
    width: 32px;
}


#idTitle {
    color: #2A3647;
    font-weight: 400;
    font-size: 20px;
}

#idBlueLine {
    border: 2px solid #29ABE2;
    border-radius: 25px;
    width: 100px;
}

#idContactName {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 25px;
}

.classShortName {
    width: 80px !important;
    height: 80px !important;
    border: 2px solid #FFFFFF;
}

.classShortAlph {
    font-size: 27px !important;
    color: #FFFFFF !important;
}

#idH1Name {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 27px;
    font-weight: 700;
    color: #2A3647;
}

#idH3Title {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

#idContactInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

th,
td {
    padding: 8px 0;
}


#idEditDeleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #2A3747;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    right: 20px;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#idEditDeleteBtn:hover {
    background-color: #29ABE2;
}