
#idContactMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
    width: 100%;
}

#idContactAlph{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#idGreyLine{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
    height: 1px;
    width: 80%;
    /* saved for later*/
}

#idImgAddContact{
    width: 32px;
    height: 32px;
}

#idAddContactBtn:hover{
    background-color: #29ABE2;
}

#idAddContactBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #2A3747;
    cursor: pointer;
    border-radius: 100px;
    z-index: 1;
    position: fixed;
    bottom: 88px;
    right: 16px;
}

#idShortName{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 42px;
    height: 42px;
    border-radius: 100px;
}

#idNameMailshort{
    display: flex;
    justify-content: center;
    align-items: column;
    cursor: pointer;
    gap: 42px;
}

#idName{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4px;
}

#idMail{
    display: flex;
    justify-content: flex-start;
    color: #017CEE;
}

#idShortAlph{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#idNameMail{
    width: 200px;
}

#idEditDeleteBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #2A3747;
    cursor: pointer;
    border-radius: 100px;
    z-index: 1;
    position: fixed;
    bottom: 88px;
    right: 16px;
}

#idEditDeleteBtn:hover{
    background-color: #29ABE2;
}

#idheadContactView{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    padding-top: 36px;
}

#idh1Contacts{
    font-weight: 700;
    font-size: 47px;
}

#idContactView{
    width: 100%;
}

#idAddContact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: white;
}

#idTitle{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

#idBlueLine{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5CBEE7;
    height: 3px;
    width: 30%;
}

#idsubmitAddContact:hover{
    cursor: pointer;
}