h1 {
    width: 203px;
    height: 56px;
    font-weight: 700;
    font-size: 47px;
    color: #000000;
}

h2 {
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.h6{
    font-size: 20px !important;
    font-weight: 700;
    color: #42526E;
    margin-bottom: 1rem;
}

.login-container h2,
.signup-container h2 {
    font-size: 1.75rem;
    font-weight: bold;
    color: #212529;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 20px;
    color: #2A3647;
    font-weight: 400;
    line-height: 24px;
}

#greeting {
    font-weight: 400;
    color: #2A3647;
    font-size: clamp(36px, 5vw, 50px);
}

#userName {
    font-weight: 700;
    font-size: clamp(47px, 5vw, 70px);
    color: #29ABE2 !important;
}

p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 16px;
}



