body.index-page {
    background-color: #253345;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 515px;
    max-width: 396px;
    overflow: hidden;
}


body.fade-out {
    opacity: 0;
}