/* Globale Stile */
body {
    padding: 0 20px;
}

body.landing-page {
    background-color: #253345;
    transition: background-color 1s ease-in-out 1s;
}

body.landing-page.loaded {
    background-color: var(--background-color, #F6F7F8);
}

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Logo-Container und Animation */
.logo-container {
    position: fixed;
    display: flex; /* Flexbox nutzen */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    top: 50%; /* Startposition: Mitte */
    left: 50%;
    transform: translate(-50%, -50%); /* Zentrierung */
    width: 120px; /* Container-Breite */
    height: 120px; /* Container-Höhe */
    transition: all 1.5s ease-in-out 1s;
}

body.landing-page.loaded .logo-container {
    top: 10px; /* Verschieben nach oben */
    left: 10px; /* Verschieben nach links */
    transform: translate(0, 0); /* Zentrierung entfernen */
}

/* Logos */
.login-logo {
    width: 100px;
    height: 120px;
    transition: all 1.5s ease-in-out 1s;
    position: absolute;
}

body.landing-page.loaded .login-logo {
    width: 45px;
    height: 60px;
}

/* Initial- und Final-Logo */
.initial-logo {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 1.5s;
}

.final-logo {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 1.5s;
}

body.landing-page.loaded .initial-logo {
    opacity: 0;
}

body.landing-page.loaded .final-logo {
    opacity: 1;
}





/* Karten-Stile */
.card {
    width: 90%;
    max-width: 396px;
    max-height: 515px;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 32px 0;
    background-color: white;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    opacity: 1;
    overflow: hidden;
}

/* Login- und Signup-Karten */
#loginCard,
#signupCard {
    opacity: 0;
    transition: opacity 1s ease-in-out 2.5s;
    max-width: 650px;
    width: 100%;
    padding: 0;
    margin: 0;
}

body.landing-page.loaded #loginCard,
body.landing-page.loaded #signupCard {
    opacity: 1;
}

/* Animationen deaktivieren */
body.no-animation .logo-container,
body.no-animation .login-logo,
body.no-animation #loginCard {
    transition: none;
    opacity: 1;
    transform: none;
    background-color: #f0f0f0;
}

/* Formulare */
.form-control {
    width: 100%;
    border-radius: 8px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #d1d1d1;
}

.d-grid button {
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

}


#switchExtras {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out 1.5s, visibility 0s linear 1.5s;
}

body.landing-page.loaded #switchExtras {
    opacity: 1;
    visibility: visible;
}


.popup-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.popup-message.show {
    opacity: 1;
    bottom: 40px;
}

/* Separator */
.separator {
    border: 2px solid #29ABE2;
    border-radius: 25px;
}

.horizontal {
    display: block;
    height: 2px;
    width: 150px;
    margin: 30px auto;
}

.form-check{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-check-label{
    margin-left: 8px;
}