body{
    padding: 0 20px;
}
body.landing-page {
    background-color: #253345;
    transition: background-color 1s ease-in-out;
}

body.landing-page.loaded {
    background-color: #f0f0f0;
}

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    transition: all 1.5s ease-in-out;
}

body.landing-page.loaded .logo-container {
    top: 20px;
    left: 20px;
    transform: translate(0, 0);
}



.login-logo {
    width: 100.03px;
    height: 121.97px;
    transition: all 1.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
}

.initial-logo {
    opacity: 1;
}

.final-logo {
    opacity: 0;
}

body.landing-page.loaded .login-logo {
    width: 50px;
    height: 65px;
}

body.landing-page.loaded .initial-logo {
    opacity: 0;
}

body.landing-page.loaded .final-logo {
    opacity: 1;
}

#loginCard, #signupCard{
    opacity: 0;
    transition: opacity 1s ease-in-out 0.5s;
    max-width: 650px;
    width: 100%;
    padding: 0;
    margin: 0;
}

body.landing-page.loaded #loginCard,
body.landing-page.loaded #signupCard {
    opacity: 1;
    transition: opacity 1s ease-in-out 1s;
}

body.no-animation .logo-container,
body.no-animation .login-logo,
body.no-animation #loginCard {
    transition: none;
    opacity: 1;
    transform: none;
    background-color: #f0f0f0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#switchExtras {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out 1.5s, visibility 0s linear 1.5s;
}

body.landing-page.loaded #switchExtras {
    opacity: 1;
    visibility: visible;
}


@media (min-width: 500px) {
    .col.text-center {
        top: 5%;
        right: 5%;
        position: absolute;
        transform: translate(0, -50%);
        display: flex;
        justify-content: right;
    }

    span#switchText.me-2{
        display: flex;
        align-items: center;
    }

    .d-grid {
        display: flex !important;
        justify-content: center;
        gap: 30px !important;
    }
}

@media (min-width: 768px) {
    #loginCard, #signupCard {
        opacity: 0;
        transition: opacity 0.5s ease-in-out 1.5s;
        width: 650px;
    }

    .col-md-4{
        width: 100%;
    }

    body.landing-page {
        background-color: #f0f0f0;
    }

    .initial-logo{
        display: none !important;
    }

    body.landing-page.loaded .login-logo {
        width: 100px;
        height: 120px;
    }

    body.landing-page.loaded .logo-container,
    body.landing-page.loaded .final-logo,
    body.landing-page.loaded #switchExtras {
        transition-delay: 0s;
        transition-duration: 0.5s;
    }

    .final-logo {
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out 1s;

    }

    body.landing-page.loaded #loginCard,
    body.landing-page.loaded #signupCard {
        opacity: 1;
        transition: opacity 0s ease-in-out 0.5s;
    }

    body.landing-page.loaded .final-logo {
        top: 20px;
        left: 20px;
        transform: translate(0, 0);
    }


}