.navbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 105%;
    background-color: #1e2736;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item.active {
    background-color: #081831;
    border-radius: 8px;
    width: 80px;
}

.nav-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}
