.main {
    display: none;
    flex-grow: 1;
    padding: 16px;
    overflow-y: auto;
}

.container {
    padding: 0;
}

.hidden {
    display: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.main.visible {
    display: block;
    padding-top: 150px;
}

.grid {
    display: grid;
    gap: 16px;
    margin-bottom: 24px;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 223px;
    height: 104px;
    top: 90px;
}

.separator {
    display: none;
}

.separator-2 {
    border: 3px solid #29ABE2;
    border-radius: 25px;
    width: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-content {
    position: relative;
    top: 150px;
    max-width: 960px;
    height: 562px;
    box-sizing: border-box;

}


.metric-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 969px;
    gap: clamp(10px, 2vw, 20px);
}

.metric-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 28px 10px;
    height: clamp(150px, 9vw, 170px);
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    gap: 16px;
}

.metric-card:hover {
    padding: 38px 10px;
    transform: scale(1.05);
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.metric-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metric-content span {
    color: #000000;
    /* Standardfarbe: Schwarz */
    transition: color 0.3s ease;
    /* Sanfter Übergang bei Farbwechsel */
}

/* Standardzustand: Weiß sichtbar, Schwarz versteckt */
.metric-card .white {
    display: block;
    /* Weißes Icon anzeigen */
    transition: opacity 0.3s ease;
}

.metric-card .black {
    display: none;
    /* Schwarzes Icon verstecken */
    transition: opacity 0.3s ease;
}

/* Hover-Zustand: Schwarz sichtbar, Weiß versteckt */
.metric-card:hover .white {
    display: none;
    /* Weißes Icon verstecken */
}

.metric-card:hover .black {
    display: block;
    /* Schwarzes Icon anzeigen */
}


/* Farbänderung beim Hover der .metric-card */
.metric-card:hover .metric-content span {
    color: #FFFFFF;
    /* Farbe ändern zu Weiß */
}

.metric-card:hover .img-container-pen,
.metric-card:hover .img-container-tick {
    background-color: #FFFFFF;
    /* Hintergrundfarbe ändern */
    transition: background-color 0.3s ease;
}

.metric-card:hover .img-container-pen svg,
.metric-card:hover .img-container-tick svg {
    fill: #2A3647;
    /* SVG-Farbe ändern */
    transition: fill 0.3s ease;
}


.todo-card,
.done-card {
    max-width: 425px;
    width: 100%;
}

.img-container-pen,
.img-container-tick {
    width: clamp(30px, 10vw, 50px);
    height: clamp(30px, 10vw, 50px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3647;
}

.img-container-tick img,
.img-container-pen img {
    width: 50%;
    height: 50%;
}

.urgent-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 28px 10px;
    gap: clamp(10px, 5vw, 61px);
    width: 100%;
    max-width: 960px;
    height: clamp(140px, 9vw, 170px);
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    margin-top: clamp(10px, 2vw, 20px);
    margin-bottom: clamp(10px, 2vw, 20px);
}

.urgent-card:hover {
    padding: 38px 10px;
    gap: clamp(10px, 5vw, 61px);
    transform: scale(1.05);
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.urgent-left span,
.urgent-info span {
    color: #000000;
    /* Standardfarbe: Schwarz */
    transition: color 0.3s ease;
    /* Sanfter Übergang bei Farbwechsel */
}

/* Farbänderung beim Hover der .metric-card */
.urgent-card:hover .urgent-left span {
    color: #FFFFFF;
    /* Farbe ändern zu Weiß */
}

.urgent-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    left: 16px;
    position: relative;
}

.urgent-right {
    position: relative;
    right: 16px;
}

.urgent-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

.urgent-right span,
.urgent-deadline span {
    color: #2A3647;
    transition: color 0.3s ease;
}


.urgent-card:hover .urgent-right span {
    color: #FFFFFF;
}

.counter-div {
    width: calc((100% - 20px* 2) / 3) !important;
}

.task-overview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    gap: clamp(10px, 2vw, 20px);

}

.deadline {
    text-align: right;
}

.icon.grey img {
    width: 20px;
    height: 20px;
    display: block;
}

.urgent-left img {
    width: clamp(30px, 10vw, 50px);
    height: clamp(30px, 10vw, 50px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grey {
    background-color: #2A3647;
    ;
}

.red {
    background-color: #FF3D00;
    ;
}

.count {
    font-weight: 600;
    font-size: clamp(32px, 4vw, 64px);
    color: #000000;
}

.label {
    font-weight: 400;
    font-size: clamp(12px, 2vw, 20px);
    color: #2A3647;
    text-align: center;
}

.line {
    width: 0;
    height: 102px;
    border: 2px solid #D1D1D1;
}

.deadline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}

.date {
    font-size: clamp(12px, 1.5vw, 20px);
    font-weight: bold;
}

.upcoming {
    font-size: clamp(12px, 1.5vw, 20px);
    font-weight: lighter;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* zentriert Zahl und Text horizontal */
    justify-content: center;
    /* optional, falls vertikal zentriert werden soll */
}

.hidden {
    display: none !important;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 3px;
    position: absolute;
    width: auto;
    height: 136px;
    top: 350px;
}


.welcome-container.fade-out {
    opacity: 0;
}