.main {
    display: none;
    flex-grow: 1;
    padding: 16px;
    overflow-y: auto;
}

.container {
    padding: 0;
}

.hidden {
    display: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.main.visible {
    display: block;
    padding-top: 150px;
}

.grid {
    display: grid;
    gap: 16px;
    margin-bottom: 24px;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 223px;
    height: 104px;
    top: 90px;
}

.separator {
    display: none;
}

.separator-2 {
    border: 3px solid #29ABE2;
    border-radius: 25px;
    width: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-content {
    position: relative;
    top: 150px;
    max-width: 960px;
    height: 562px;
    box-sizing: border-box;

}


.metric-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 969px;
    gap: clamp(10px, 2vw, 20px);
}

.metric-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 10px;
    height: clamp(140px, 9vw, 170px);
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.metric-card:hover {
    padding: 38px 10px;
    transform: scale(1.05);
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.metric-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-card,
.done-card {
    max-width: 425px;
    width: 100%;
}

.urgent-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 28px 10px;
    gap: clamp(10px, 5vw, 61px);
    width: 100%;
    max-width: 960px;
    height: clamp(140px, 9vw, 170px);
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: clamp(10px, 2vw, 20px);
    margin-bottom: clamp(10px, 2vw, 20px);
}

.urgent-card:hover {
    padding: 38px 10px;
    gap: clamp(10px, 5vw, 61px);
    transform: scale(1.05);
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.urgent-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.urgent-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

.counter-div {
    width: calc((100% - 20px* 2) / 3) !important;
}

.task-overview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    gap: clamp(10px, 2vw, 20px);

}

.deadline {
    text-align: right;
}

.icon.grey img {
    width: 20px;
    height: 20px;
    display: block;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grey {
    background-color: #2A3647;
    ;
}

.red {
    background-color: #FF3D00;
    ;
}

.count {
    font-weight: 600;
    font-size: clamp(48px, 5vw, 64px);
    color: #000000;
}

.label {
    font-weight: 400;
    font-size: clamp(12px, 3vw, 20px);
    color: #2A3647;
    text-align: center;
}

.line {
    width: 0;
    height: 102px;
    border: 2px solid #D1D1D1;
}

.deadline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}

.date {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: bold;
}

.upcoming {
    font-size: clamp(16px, 2vw, 20px);
    color: #6b7280;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* zentriert Zahl und Text horizontal */
    justify-content: center;
    /* optional, falls vertikal zentriert werden soll */
}

.hidden {
    display: none !important;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 3px;
    position: absolute;
    width: 385px;
    height: 136px;
    top: 350px;
}


.welcome-container.fade-out {
    opacity: 0;
}








@media (min-width: 660px) and (max-width: 1150px) {
    .welcome-container {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        top: 800px;
    }

    #greeting {
        transform: none;
    }

    #userName {
        transform: none;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}


@media (min-width: 660px) {
    .welcome-container.fade-out {
        opacity: 1;
    }

    .hidden {
        display: unset !important;
    }

    #main-content {
        top: 0;
    }
}


@media (min-width: 1150px) {

    main {
        display: grid;
        grid-template-columns: 60% 40%;
        /* Zwei Spalten */
        gap: 16px;
        max-width: 1920px;
        width: 100%;
        top: 150px;
        position: relative;
    }

    #main-content {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        top: 0;
    }

    .welcome-container {
        grid-column: 2;
        /* Bleibt in der rechten Spalte */
        grid-row: 1;
        /* Erste Zeile */
        width: 100%;
        height: 562px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        animation: slide-in 1s forwards;
        right: 0;
        top: 0;
        margin-left: 0;
    }

    .w-100 {
        width: unset !important;
        font-size: clamp(47px, 3vw, 100px);
        font-weight: 900;
        margin-right: 85px !important;
        align-self: center;
    }

    .subtitle {
        text-align: left;
        font-size: clamp(20px, 3vw, 45px);
        margin-bottom: 0;
        align-self: center;
        margin-left: 85px;
    }

    .title {
        display: flex;
        flex-direction: row;
        padding: 0px;
        gap: 30px;
        position: absolute;
        max-width: 1200px;
        width: 100%;
        height: 140px;
        bottom: unset;
        overflow: hidden;
    }

    .grid {
        gap: 30px;
    }

    .welcome-container.hidden {
        display: flex !important;
    }

    .separator-2 {
        display: none;
    }

    .separator {
        display: unset;
        border: 4px solid #29ABE2;
        border-radius: 25px;
        height: 100px;
        align-self: center;
    }

}