@media (min-width: 660px) {

    #content-container {
        margin-top: var(--template-height-with-padding);
        margin-left: calc(var(--navbar-width-desktop-mode));
        width: calc(100vw - var(--navbar-width-desktop-mode));
        max-width: min(calc(100vw - var(--navbar-width-desktop-mode)), calc(1980px - var(--navbar-width-desktop-mode)));
    }


    form {
        padding-bottom: 0;
        height: calc(100vh - var(--template-height-with-padding) - var(--headline-container-height-with-padding) - 74px);
    }


    #form-footer {
        padding-bottom: 12px;
    }
}


@media (min-width: 1000px) {

    .mw-396-u1000 {
        max-width: unset;
    }

    #content-container {
        justify-content: start;
        align-items: center;
    }


    form {
        height: max-content;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
    }


    .form-subcontainer:first-child {
        padding-right: 48px;
    }


    .form-subcontainer:last-child {
        border-left: 1px solid var(--input-border-standart);
        padding-left: 48px;
    }


    .dropdown {
        max-height: 160px;
    }


    #required-text-mobile-mode {
        display: none;
    }


    #required-text-desktop-mode {
        display: block;
        flex-grow: 1;
    }


    #form-footer {
        position: sticky;
        bottom: 0;
        padding-bottom: calc(79px - 12px);
    }


    .main-btn-container {
        flex-grow: 1;
    }
}