@media (min-width: 660px) {

    form {
        padding-bottom: 0;
    }


    .one-column .form-subcontainer {
        max-width: unset;
    }


    #content-container {
        margin-top: var(--template-height-with-padding);
        margin-left: calc(var(--navbar-width-desktop-mode));
        width: min(calc(100vw - var(--navbar-width-desktop-mode)), calc(1980px - var(--navbar-width-desktop-mode)));
    }


    #form-footer {
        padding-bottom: 12px;
    }
}


@media (min-width: 1000px) {

    form {
        padding-right: unset;
        height: min(max-content, calc(100vh - var(--template-height-with-padding) - var(--headline-container-height-with-padding) - 74px));
        gap: 0;
        justify-content: start;
        flex-direction: row;
    }


    .one-column form {
        flex-direction: column !important;
    }


    .dropdown {
        max-height: 160px;
    }


    #form-footer {
        position: sticky;
        bottom: 0;
        padding-bottom: calc(79px - 12px);
        max-width: calc(878px - 16px);
    }


    #content-container #form-footer {
        padding-top: 146px;
        padding-bottom: 12px;
    }


    .form-subcontainer {
        box-sizing: border-box;
        max-width: calc(296.5px + 48px);
        width: calc(100% / 2);
    }



    .one-column .form-subcontainer {
        width: 100% !important;
    }


    .form-subcontainer:first-child {
        padding-right: 48px;
    }


    .one-column .form-subcontainer:first-child {
        padding-right: 0 !important;
        width: 100% !important;

    }


    .form-subcontainer:last-child {
        border-left: 1px solid var(--input-border-color-standart);
        padding-left: 48px;
    }


    .one-column .form-subcontainer:last-child {
        border-left: unset !important;
        padding-left: 0 !important;
    }


    .main-btn-container {
        flex-grow: 1;
    }


    .mw-396-u1000 {
        max-width: unset;
    }


    #required-text-desktop-mode {
        display: flex;
        align-items: end;
        flex-grow: 1;
    }


    .one-column #required-text-desktop-mode {
        display: none;
    }


    #required-text-mobile-mode {
        display: none;
    }


    .one-column #required-text-mobile-mode {
        display: block;
    }


    #task-form-container {
        width: 100%;
    }


    .w-100u1000p {
        width: auto;
    }
}


@media (min-width: 1096px) {

    #content-container {
        padding-left: 96px;
        justify-content: start;
        align-items: start;
    }
}

@media (max-width: 400px) {
    [id^="list-item-box-current-subtask"] p {
        text-align: start;
        height: unset;
    }
    }