@media (min-width: 1px) {

    body {
        position: fixed;
        top: 0;
    }


    #content-container {
        margin-top: var(--template-height-with-padding);
    }


    .content-subcontainer {
        width: max-content;
    }


    .headline-container {
        position: unset;
        background-color: unset;
        padding: 64px 0 48px 0;
    }


    form {
        margin-left: 0;
        margin-top: 0;
        margin-right: -16px;
        padding-right: 16px;
        padding-top: 0;
        padding-bottom: calc(var(--main-button-container-height-with-padding) + var(--template-height-with-padding) + 45px);
        height: calc(100vh - var(--template-height-with-padding) - 178px - 141px);

        /* padding-top: calc(var(--h1-position-top) + var(--h1-height-with-padding) + 1.5rem);
        padding-left: 16px;
        padding-right: 16px; */
        /* width: 100%;
        gap: 1rem; */
        
        overflow-y: scroll;
        scrollbar-width: thin;

        --sb-track-color: #f6f7f8;
        --sb-thumb-color: #a8a8a8;
        --sb-size: 4px;
    }
    
    
    form::-webkit-scrollbar {
        width: var(--sb-size)
    }
    
    
    form::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 2px;
    }
    
    
    form::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 2px;
    }


    #form-footer {
        position: sticky;
        bottom: 0;
        margin-bottom: var(--template-height-with-padding);
    }


    @supports not selector(::-webkit-scrollbar) {
        form {
            scrollbar-color: var(--sb-thumb-color)
                           var(--sb-track-color);
        }
      }
}


@media (min-width: 660px) {
    
    #content-container {
        margin-top: var(--template-height-with-padding);
        margin-left: calc(var(--navbar-width-desktop-mode));
        width: calc(100vw - var(--navbar-width-desktop-mode));
        max-width: min(calc(100vw - var(--navbar-width-desktop-mode)), calc(1980px - var(--navbar-width-desktop-mode)));
    }


    form {
        height: calc(100vh - var(--template-height-with-padding) - 168px - 64px);
        padding-bottom: 0;
    }


    #form-footer {
        padding-bottom: 0;
    }
}


@media (min-width: 1000px) {    

    form {
        justify-content: start;
        align-items: center;
        flex-direction: row;
        overflow-y: unset;
    }


    .form-subcontainer:first-child {
        padding-right: 48px;
    }


    .form-subcontainer:last-child {
        border-left: 1px solid var(--input-border-standart);
        padding-left: 48px;
    }


    #required-text-mobile-mode {
        display: none;
    }


    #required-text-desktop-mode {
        display: block;
        flex-grow: 1;
    }


    #form-footer {
        position: sticky;
        bottom: 0;
        padding-bottom: calc(79px - 12px);
    }


    .main-btn-container {
        flex-grow: 1;
    }
}