@media (max-width: 360px) {
    #idShortName {
        display: none;
    }
}

@media (min-width: 660px) {

    #headerTitle {
        margin: auto;
        position: absolute;
        left: 300px;
    }

    #idEditDeleteContainer {
        width: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 290px;
        left: 16%;
    }

    #idSideBySide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    #idSideBySide p {
        margin: auto;
    }

    #idSaveAddContact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 200px;
        left: 75%;
        transform: translateX(-50%);
        font-size: 21px;
        font-weight: 700;
    }

    #idDeleteAddContact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 200px;
        left: 50%;
        width: 140px;
        color: #2A3647;
        font-size: 20px;
        font-weight: 400;
    }

    #idDeleteAddContact,
    #idSaveAddContact {
        display: none;

    }

    #idContactMain {
        max-width: 400px;
        width: 100%;
        background-color: #FFFFFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        margin-left: -40px;
        height: 100vh;
        padding: 20px 30px;
    }

    #idEditDeleteBtn {
        display: none;
    }


}

@media (max-width: 660px) {
    .btn-primary:hover {
        background-color: #2A3647 !important;
        box-shadow: unset !important;
    }

    #idViewContactCard {
        height: calc(100vh - 160px);
    }

    #idEditContact {
        top: 80px;
    }

    #idAddContact {
        top: 80px;
    }

    #idAddContact {
        left: 0 !important;
    }

    #idAddContactBtnBig {
        display: none;
    }

    #contentText {
        display: none;
    }

    #idEditDeleteContainer {
        display: none;
    }

    #headerTitle {
        display: none;
    }
}

@media (min-width: 660px) and (max-width: 1099px) {
    #idEditDeleteContainer {
        width: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 290px;
        left: 16%;
    }

    #idSideBySide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }


    #idViewContactCard {
        left: 230px;
    }

    #idAddContactBtnBig {
        display: none;
    }

    #contentText {
        display: none;
    }
}

@media (min-width: 660px) and (max-width: 1350px) {
    #idEditContact.show {
        left: calc(50% + 115px); /* Mittige Berechnung mit Navbar */
        transform: translateX(-50%);
    }
}

@media (min-width: 1100px) {

    #idEditDeleteContainer {
        top: 90px;
    }

    #idEditDeleteContainer svg {
        height: 19px;
        width: 30px;
    }

    #idEditDeleteContainer p {
        font-size: 16px;
        font-weight: 400;
    }

    #idSideBySide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    #idAddContactBtn {
        display: none;
    }

    #idAddContactBtnBig {
        position: absolute;
        width: 350px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        top: 100px;
        left: 250px;
    }

    #idContactMain {
        padding: 100px 20px;
    }

    #contentText {
        position: absolute;
        top: 200px;
        left: calc(630px + 30px);
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .separator {
        height: 59px;
        display: unset;
        border: 3px solid #29ABE2;
        border-radius: 25px;
        margin: 0 40px;
    }

    #contentTest h1 {
        align-self: center;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(45px, 5vw, 61px);
        font-weight: 700;
        width: auto;
    }

    p {
        margin: 0;
        align-self: center;
        font-size: clamp(20px, 2.5vw, 27px);
        white-space: nowrap;
        font-weight: 400;

    }

    #idViewContactCard {
        left: 700px;
        top: 270px;
        padding: 0;
        background-color: transparent;
    }

    #idHeadContactView {
        display: none;
    }

    #idTitle {
        display: none;
    }

    #idBlueLine {
        display: none;
    }

    #idEditDeleteBtn {
        display: none;
    }


    .NameMailShort:hover {
        background-color: #F4F4F4;
        transition: background-color 0.3s;
        border-radius: 8px;
    }

    .NameMailShort.selected {
        background-color: #2A3647;
        border-radius: 8px;
    }

    .NameMailShort.selected p {
        color: #FFFFFF;

    }
}

@media (max-width: 1220px) {
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }

    .separator {
        margin: 0 20px;
    }
}

@media (max-width: 1350px) {

    #idCancelAddContact {
        display: none;
    }

    #idAddContact {
        left: 230px;
    }

    #idLogoCard {
        display: none;
    }
}

@media (min-width: 1350px) {

    #idLogoCard{
        height: 100px;
        position: fixed;
        left: 20px;
        bottom: 65%;
    }
    #idContactBtns {
        bottom: -55px;

    }

    #idAddContact{
        top: 0;
        position: fixed;
        right: 0;
        margin: auto;
        max-width: 350px;
        min-width: 320px;
        height: 650px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 24px;
        padding: 20px;
        transition: transform 0.5s ease, bottom 0.5s ease;
        transform: translateY(100%);
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 230px;
        max-width: 1100px;
    }

    #idAddContact.show{
        bottom: 80px;
        background: linear-gradient(to right, #2A3647 30%, #FFFFFF 30%);
    }

    #idEditContact {
        top: 0;
        position: fixed;
        right: 0;
        margin: auto;
        min-width: 320px;
        height: 650px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 24px;
        padding: 20px;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1100px;
    }

    #idEditContact.show {
        bottom: 80px;
        background: linear-gradient(to right, #2A3647 30%, #FFFFFF 30%);
        left: calc(50% + 115px); /* Zentriere mit Berücksichtigung der 230px Navbar */
        transform: translateX(-50%);
        position: fixed; /* Stelle sicher, dass die Position relativ zum Viewport ist */
    }
    

    #idPersonBackground, #idShortName-2 {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d1d1d1;
        border-radius: 50%;
        border: 3px solid white;
        width: 120px;
        height: 120px;
        gap: 8px;
        margin-bottom: 32px;
    }
    

    #idInput {
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: fixed;
        left: 50%;
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    #idSubmitAddContact {

        bottom: 270px;
        left: 75%;
        transform: translateX(-50%);
    }

     #idSaveEditBtn {
        position: fixed;
        bottom: 270px;
        left: 70%;
        transform: translateX(-50%);
    }

    #idCancelAddContact, #idDeleteBtn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 270px;
        left: 50%;
        width: 140px;
        color: #2A3647;
        font-size: 20px;
        font-weight: 400;
    }

    #idCancelAddContact img {
        top: unset;
    }

    #idCancelAddContact:hover, #idDeleteBtn:hover {
        border-color: #29ABE2;
        color: #29ABE2;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    #idXBtn {
        filter: brightness(0) saturate(100%) invert(12%) sepia(23%) saturate(435%) hue-rotate(180deg) brightness(95%) contrast(91%);
        
    }

}