@media (min-width: 660px) and (max-width: 1150px) {
    .welcome-container {
        position: relative;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        top: 700px;
    }

    #greeting {
        transform: none;
        align-self: flex-start;
    }

    #userName {
        transform: none;
        align-self: flex-start;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}


@media (min-width: 660px) {
    .welcome-container.fade-out {
        opacity: 1;
    }

    .hidden {
        display: unset !important;
    }

    #main-content {
        top: 0;
    }
}


@media (min-width: 1150px) {

    main {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 16px;
        max-width: 1920px;
        width: 100%;
        top: 150px;
        position: relative;
    }

    #main-content {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .welcome-container {
        align-items: flex-start;
        position: relative;
        animation: slide-in 1s forwards;
        padding-left: 30px;
        right: 0;
        top: 0;
    }

    .w-100 {
        width: unset !important;
        font-size: clamp(47px, 3vw, 100px);
        font-weight: 900;
        margin-right: 85px !important;
        align-self: center;
    }

    .subtitle {
        text-align: left;
        font-size: clamp(20px, 3vw, 45px);
        margin-bottom: 0;
        align-self: center;
        margin-left: 85px;
    }

    .title {
        display: flex;
        flex-direction: row;
        padding: 0px;
        gap: 30px;
        position: absolute;
        max-width: 1200px;
        width: auto;
        height: 140px;
        bottom: unset;
        overflow: hidden;
    }

    .grid {
        gap: 30px;
    }

    .welcome-container.hidden {
        display: flex !important;
    }

    .separator-2 {
        display: none;
    }

    .separator {
        display: unset;
        border: 4px solid #29ABE2;
        border-radius: 25px;
        height: 100px;
        align-self: center;
    }

}