
@media (min-width: 660px) {

    .header{
        z-index: inherit;
    }

    .navbar {
        position: fixed;
        left: 0;
        top: 0;
        padding: 0;
        height: 100%;
        width: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        z-index: 100;
        transform: translateX(0);
        justify-content: flex-start;
    }

    .navbar .logo {
        width: 100px;
        height: auto;
        margin-top: 40px;
        margin-bottom: 75px;
    }

    .nav-item {
        flex-direction: row;
        justify-content: flex-start;
        width: 200px;
        padding: 10px 20px;
        gap: 10px;
        font-size: 16px;
        border-radius: 0;
    }

    .nav-item:hover {
        background-color: #2f3f55;
    }

    .nav-icon {
        height: 25px;
        width: 25px;
    }

    .link {
        position: absolute;
        bottom: 80px;
        width: 100%;
        text-align: start;
        padding-left: 20px;
        
    }

    .nav-dropdown{
        display: block;
        margin: 20px 0;
        color: #a8a8a8a8;
        text-decoration: none;
        font-size: 20px;
        width: 100%;
    }

    .nav-dropdown:hover {
       color: #29ABE2;
    }

}

@media (max-width: 660px) {
    .navbar .logo {
        display: none;
    }

    .link {
        display: none;
    }

    .nav-item[data-page="summary"] {
        order: 1;
    }

    .nav-item[data-page="board"] {
        order: 2;
    }

    .nav-item[data-page="addTask"] {
        order: 3;
    }

    .nav-item[data-page="contact"] {
        order: 4;
    }
}