<link rel="icon" href="./assets/favicon/fav.ico" type="image/x-icon">

<link rel="stylesheet" href="./style/navbar.css">
<link rel="stylesheet" href="./style/header.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="style/assets.css">


<header class="header">
    <div class="logo-container">
        <img class="logo" src="./assets/img/general/favicon.svg" alt="Join">
    </div>
    <div id="profile-icon-container"></div>
</header>


<nav class="navbar">
    <a href="summary.html" class="nav-item active" data-page="summary">
        <img src="./assets/img/general/summary.svg" alt="Summary" class="nav-icon">
        <span>Summary</span>
    </a>
    <a href="board.html" class="nav-item" data-page="board">
        <img src="./assets/img/general/board.svg" alt="Board" class="nav-icon">
        <span>Board</span>
    </a>
    <a href="addTask.html" class="nav-item" data-page="add-tasks">
        <img src="./assets/img/general/addTasks.svg" alt="Add Tasks" class="nav-icon">
        <span>Add Tasks</span>
    </a>
    <a href="contact.html" class="nav-item" data-page="contacts">
        <img src="./assets/img/general/contacts.svg" alt="Contacts" class="nav-icon">
        <span>Contacts</span>
    </a>
</nav>
