<link rel="stylesheet" href="./style/template.css">
<link rel="stylesheet" href="./style/queries/templateQuery.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="./style/queries/styleQuery.css">
<link rel="stylesheet" href="style/assets.css">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="./js/templates.js"></script>

<header class="header">
    <div class="logo-container">
        <img class="logo" src="./assets/img/general/favicon.svg" alt="Join">
    </div>
    <div id="profile-icon-container" class="profile-dropdown">
        <div class="profile-icon-circle"></div>
        <div id="dropdownMenu" class="d-menu dm-hidden">
            <a href="help.html" class="dropdown-item">Hilfe</a>
            <a href="legalNotice.html" class="dropdown-item">Impressum</a>
            <a href="privacyPolicy.html" class="dropdown-item">Datenschutz</a>
            <button class="dropdown-item logout-button" onclick="logOut()">Abmelden</button>
        </div>
    </div>
</header>

<nav class="navbar">
    <img src="./assets/img/general/join-logo.svg" alt="Logo" class="logo">
    <a href="summary.html" class="nav-item" data-page="summary">
        <img src="./assets/img/general/summary.svg" alt="Summary" class="nav-icon">
        <span>Summary</span>
    </a>
    <a href="addTask.html" class="nav-item" data-page="addTask">
        <img src="./assets/img/general/addTasks.svg" alt="Add Tasks" class="nav-icon">
        <span>Add Tasks</span>
    </a>
    <a href="board.html" class="nav-item" data-page="board">
        <img src="./assets/img/general/board.svg" alt="Board" class="nav-icon">
        <span>Board</span>
    </a>
    <a href="contact.html" class="nav-item" data-page="contact">
        <img src="./assets/img/general/contacts.svg" alt="Contacts" class="nav-icon">
        <span>Contacts</span>
    </a>
    <div class="link">
        <a href="privacyPolicy.html" class="nav-dropdown">Privacy Policy</a>
        <a href="legalNotice.html" class="nav-dropdown">Legal notice</a>
    </div>
</nav>